h5{
    font-weight: 900;
}

.bigbox_1{
    width: 900px;
    height: 700px;
    background-color: white;
    margin: auto;
    padding: 50px 0;
    border-radius: 8px;
    position: relative;
}
.bg_reservation{
    width: 100%;
    height: 100%;
    z-index: -999;
    position: absolute;
    background-image: url('../img/bg-reservation.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 500px 0 0 0;
}



.bigbox_1_img{
    position: absolute;
    width: 300px;
    height: 500px;
    margin: -50px 0 0 -300px;
    z-index: 500;
    background-image: url('../img/bg-form-info.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form_1{
    width: 90%;
    height: 600px;
    background-color: white;
    margin: auto;
}

.empty{
    width: 100%;
    height: 10%;
    background-color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    font-size: 16px;
    display: block;
    border: none;
    border-bottom: 1px solid #757575;
    background-color: white;
}

input:focus {
    outline: none;
}

/* 111111111111111111111111111111111111111111 */
.formbox_1{
    width: 100%;
    height: 15%;
    display: flex;
}

.formbox_1 .name{
    width: 50%;
    height: 100%;
}

.formbox_1 .name .name_font{
    width: 100%;
    height: 50%;
    color: brown;
    font-size: 20px;
    font-weight: 900;
}

.formbox_1 .name .name_text{
    width: 100%;
    height: 50%;
    display: flex;
}

.formbox_1 .tel{
    width: 50%;
    height: 100%;
}

.formbox_1 .tel .tel_font{
    width: 100%;
    height: 50%;
    color: brown;
    font-size: 20px;
    font-weight: 900;
}

.formbox_1 .tel .tel_text{
    width: 100%;
    height: 50%;
}

.name_line {
    width: 60%;
    height: 100%;
}

.name_radio{
    width: 60%;
    height: 100%;
}


/* 22222222222222222222222222222222222222222222 */

.formbox_2{
    width: 100%;
    height: 15%;
    display: flex;
}

.formbox_2 .email{
    width: 50%;
    height: 100%;
}

.formbox_2 .email .email_font{
    width: 100%;
    height: 50%;
    color: brown;
    font-size: 20px;
    font-weight: 900;
}

.formbox_2 .email .email_text{
    width: 100%;
    height: 50%;
}

.formbox_2 .people{
    width: 50%;
    height: 100%;
}

.formbox_2 .people .people_font{
    width: 100%;
    height: 50%;
    color: brown;
    font-size: 20px;
    font-weight: 900;
}


.formbox_2 .people .people_text{
    width: 100%;
    height: 50%;
    display: flex;
}

.adult{
    font-weight: 900;
}

.child{
    font-weight: 900;
}

.adult_num{
    height: 25px;
    margin: 0 30px 0 0;
}

.adult_num input{
    width: 40px;
}

.child_num{
    width: 40px;
    height: 25px;
}

.child_num input{
    width: 40px;
}

/* 33333333333333333333333333333333333333333333333 */
.formbox_3{
    width: 100%;
    height: 15%;
    display: flex;
}

.formbox_3 .date{
    width: 50%;
    height: 100%;
}

.formbox_3 .date .date_font{
    width: 100%;
    height: 50%;
    color: brown;
    font-size: 20px;
    font-weight: 900;
}

.formbox_3 .date .date_text{
    width: 50%;
    height: 100%;
}

.formbox_3 .date .date_text input{
    width: 100%;
}

.formbox_3 .time{
    width: 50%;
    height: 100%;
}

.formbox_3 .time .time_font{
    width: 100%;
    height: 50%;
    color: brown;
    font-size: 20px;
    font-weight: 900;
}

.formbox_3 .time .time_text{
    width: 50%;
    height: 100%;
}

.time .time_text select{
    width: 100%;
}


/* 444444444444444444444444444444444444444444444444 */
.formbox_4{
    width: 100%;
    height: 15%;
}

.formbox_4 .remarks_font{
    width: 100%;
    height: 50%;
    color: brown;
    font-size: 20px;
    font-weight: 900;
}

.remarks_container {
    width: 100%;
    margin: 0 auto;
    position: relative;
}


#remarks_contact textarea {
    width: 100%;
    border: 1px solid #CCC;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#remarks_contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

/*****************************************************/

.bigbox_2{
    width: 900px;
    height: 400px;
    background-color: white;
    margin: 100px auto;
    padding: 5px 0;
    border-radius: 8px;
    position: relative;
}

.bigbox_2_img{
    position: absolute;
    width: 300px;
    height: 500px;
    margin: 0 0px 0 -300px;
    z-index: 500;
    background-image: url('../img/bg-form-list.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.form_2{
    width: 90%;
    height: 320px;
    background-color: white;
    margin: auto;
}

.card img{
    border-radius: 99%;
    height: 220px;
}

.tour{
    margin: auto;
    display: flex;
    font-weight: 900;
}

.mb-2{
    height: 100%;
    border: none;
}

.card{
    border: none;
}

/* ******************************** */
.bigbox_3{
    width: 900px;
    height: 200px;
    margin:auto;
    border-radius: 8px;
}

.form_3{
    width: 100%;
    height: 25%;
    margin: 110px 0;
}

h1{
    font-size: 30px;
    font-weight: 900;
}


@media(max-width: 1508px) {
    .bigbox_1{
        width: 700px;
    }

    .test_1 , .name_radio{
        margin: -25px 0 0 0;
    }

    .bigbox_1_img{
        width: 140px;
        height: 240px;
        margin: 0 0px 0 -140px;
    }
    
    .bigbox_2_img{
        width: 200px;
        height: 300px;
        margin: 0 0px 0 -200px;
    }
}

@media(max-width: 1300px) {
    /* .bigbox_1_img{
        width: 100px;
        height: 200px;
        margin: 0 0px 0 -100px;
    }

    .bigbox_2_img{
        width: 100px;
        height: 200px;
        margin: 0 0px 0 -100px;
    } */
}



@media(max-width:991px) {
    
    .bigbox_1{
        width: 600px;
    }

    .test_1{
        /* height: 800px; */
    }

    .bigbox_1_img{
        width: 150px;
        height: 250px;
        margin: 0 0px 0 -150px;
    }
    
    .bigbox_2_img{
        width: 200px;
        height: 300px;
        margin: 0 0px 0 -200px;
    }

    .card img{
        width: 200px;
        height: 200px;
    }

    .name_line  input {
        width: 90%;
    }
}

@media(max-width:770px) {
    .bigbox_1_img{
        background-image: unset;
    }
    
    .bigbox_2_img{
        background-image: unset;
    }

}


@media(max-width:700px) {

    .bigbox_1{
        width: 350px;
    }
    .test_1 , .name_radio{
        margin: -15px 0 0 0;
    }
    .formbox_3 .date .date_text input {
        width: 140%;
    }
}

@media(max-width:576px) {

    .bigbox_1{
        width: 300px;
    }
    .test_1 , .name_radio{
        margin: -15px 0 0 0;
    }
    .formbox_3 .date .date_text input {
        width: 140%;
    }
}




